<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jinfukeji.waterhousekeeper">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:name=".WaterHousekeeper"
        android:allowBackup="false"
        android:icon="@mipmap/apptubiao"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".FirstStartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".BufferActivity"/>
        <activity android:name=".yindaotu.YindaotuActivity" android:theme="@style/diqu"/>
        <activity android:name=".activity.ChongxiAcitity"/>
        <activity android:name=".activity.LvxinActivity"/>
        <activity android:name=".activity.MyzhangdanActivity"/>
        <activity android:name=".activity.ChongzhiActivity"/>
        <activity android:name=".activity.MyshezhiActivity"/>
        <activity android:name=".activity.JiqishezhiActivity"/>
        <activity android:name=".activity.PopupWindowActivity" android:theme="@style/PeizhiPopupWindow"/>
        <activity android:name=".activity.ShowRegionActivity" android:theme="@style/diqu"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activity.AboutUsActivity"/>
        <activity android:name=".activity.GuzhangFankuiActivity"/>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--微信分享回调 -->
        <activity
            android:name="cn.sharesdk.demo.wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>